<a href="https://colab.research.google.com/github/kireeti-kunam/sks/blob/master/sks_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import re

In [2]:
data  = pd.read_csv('/content/coupons_ner.csv')
data.columns = ['offerdetails']

In [3]:
data.head(5)

                                        offerdetails
0  Save $2.00 ONE Tide PODS OR Tide Power PODS (e...
1  Save $2.00 ONE Tide Laundry Detergent (exclude...
2  SAVE $1.00 ON TWO when you buy TWO BOXES (8.9 ...
3  $3.00 OFF when you purchase any THREE (3) Pepp...
4  SAVE $1.11 when you buy any ONE (1) Familly Si...

In [4]:
data.shape

(885, 1)

 - Here I am solving for two test caes. one is is for dollars and another is for cents.
 - Dollars always begin with the dollar symbol., so I am reading the text from dollar to symbol to next appeared space.
 - similarly cents will begin with the numerical value and end with cent symbol. So i am reading that value and I am converting back it to the dollars.

In [5]:
def Predict_Offer_Price(offer):

   dollar_matches = re.findall('\$[0-9.]+', offer) # matching dollars
   cents_matches  = re.findall('[0-9.]+\Â¢', offer) # matching cents

   if len(dollar_matches):
     return dollar_matches[0]
   elif len(cents_matches):
     return '$'+str(int(cents_matches[0][:-1])*0.01)
   else:
     return ""

In [6]:
data['FaceValue'] = data['offerdetails'].apply(lambda x: Predict_Offer_Price(x))

In [8]:
data.FaceValue

0      $2.00
1      $2.00
2      $1.00
3      $3.00
4      $1.11
       ...
880    $2.00
881    $5.00
882    $1.00
883
884    $2.00
Name: FaceValue, Length: 885, dtype: object