In [ ]:
import pandas as pd
import re

In [ ]:
data  = pd.read_csv('/content/coupons_ner.csv')
data.columns = ['offerdetails']

In [ ]:
data.head(5)

                                        offerdetails
0  Save $2.00 ONE Tide PODS OR Tide Power PODS (e...
1  Save $2.00 ONE Tide Laundry Detergent (exclude...
2  SAVE $1.00 ON TWO when you buy TWO BOXES (8.9 ...
3  $3.00 OFF when you purchase any THREE (3) Pepp...
4  SAVE $1.11 when you buy any ONE (1) Familly Si...

In [ ]:
data.shape

(885, 1)

 - Here I am solving for two test caes. one is is for dollars and another is for cents.
 - Dollars always begin with the dollar symbol., so I am reading the text from dollar to symbol to next appeared space.
 - similarly cents will begin with the numerical value and end with cent symbol. So i am reading that value and I am converting back it to the dollars.

In [ ]:
def Predict_Offer_Price(offer):

   dollar_matches = re.findall('\$[0-9.]+', offer) # matching dollars
   cents_matches  = re.findall('[0-9.]+\¢', offer) # matching cents

   if len(dollar_matches):
     return dollar_matches[0]
   elif len(cents_matches):
     return '$'+str(int(cents_matches[0][:-1])*0.01)
   else:
     return ""

In [ ]:
data['FaceValue'] = data['offerdetails'].apply(lambda x: Predict_Offer_Price(x))

In [ ]:
data.tail(10)

                                          offerdetails FaceValue
875  SAVE $2.00 when you spend $6 on any Quaker Pro...     $2.00
876  SAVE $1.00 when you buy ONE (1) 28 oz.TRESemmé...     $1.00
877    SAVE $1.00 on DGH Auto Spray Refills Twin Packs     $1.00
878  SAVE $3.00 when you spend $10 on any Bayer Con...     $3.00
879  BUY TWO GET ONE Buy ONE (1) SOUR PATCH KIDS or...
880  SAVE $2.00 when you buy $7 worth of participat...     $2.00
881  SAVE $5.00 on any Gain scented purchase of $30...     $5.00
882  SAVE $1.00 when you buy any ONE (1) NEW AXE pr...     $1.00
883  BUY TWO GET ONE Buy ONE (1) CHIPS AHOY! Cookie...
884  SAVE $2.00 when you spend $6 on all Suave® pro...     $2.00